<% if @patient.tiss_evaluations.any? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= t(".tiss-evaluations") %> <span class="badge"><%= @patient.tiss_evaluations.count %></span></h4>
    </div>
    <div class="panel-body">
      <% @patient.tiss_evaluations.each do |tiss| %>
        <%= tiss.score %>
      <% end %>
      <div id="bar-chart">
      </div>
    </div>
  </div>
<% end %>