<% if @patient.tiss_evaluations.any? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= t(".tiss-evaluations") %> <span class="badge"><%= @patient.tiss_evaluations.count %></span></h4>
    </div>
    <div class="panel-body">
      <%= line_chart @tiss_evaluations.group_by_day(:evaluation_date, range: 1.months.ago.midnight..Time.now, series: false).sum(:score), messages: {empty: "#{t('.no-data')}"}, curve: false, discrete: true, ytitle: t('.tiss-scores'), download: t(".tiss-score") %>
    </div>
  </div>
<% end %>