<% provide(:title, "Ajuda") %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= t('hello_world') %></h4>
  </div>
  <div class="panel-body">
    <p><%=l Time.now %></p>

    <!-- D3 playground -->
    <svg id="canvas1"></svg>
    <svg id="canvas2" width="720" height="120">
      <circle class="circle_canvas2" cx="40" cy="60" r="10"></circle>
      <circle class="circle_canvas2" cx="80" cy="60" r="10"></circle>
      <circle class="circle_canvas2" cx="120" cy="60" r="10"></circle>
    </svg

  </div>
</div>