<% provide(:title, t('.about')) %>

<div class="col-md-8 col-md-offset-2">
  <div class="well">
    <h1>PeCARE</h1>
    <p>
    O PeCARE nasce da necessidade de obtenção de indicadores na prática de cuidados específicos de enfermagem na ULSNE.
    </p>
    <p>
    Na sua génese estão os formulários independentes usados nas consultas de pneumologia e nos Serviços de Medicina Intensiva que no PeCARE são assumidos como partes de um todo, garantindo a unidade da aplicação, partilha de informação comum, níveis de permissões transparentes e atualizações em tempo real.
    </p>
    <p>
    Um dos pilares do PeCARE é a integração com os Sistemas de Informação existentes, nomeadamente o SONHO e o SClinico, sem que haja sobreposição de funções nem duplicação de elementos.
    </p>
    <p>
    O PeCARE é uma ferramenta auxiliar ao cuidade de enfermagem específico, um apoio para potenciar a avaliação e planificação da carga de trabalho dos profissionais.
    </p>
    <h2>Módulos online</h2>
    <ul>
      <li>Medicina Intensica - TISS28</li>
      <li>Pneumologia - Dispositivos inalatórios</li>
    </ul>
  </div>
</div>