<% provide(:title, t(".index")) %>

<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="jumbotron">
        <h1>PeCARE</h1>
        <h2>Cuidados de saúde integrados - Medicina ao serviço dos doentes</h2>
      </div>
    </div>
  </div>
</div>

