<li role="presentation" class="dropdown active">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    <%= t('.pulmonary-appointment-options') %> <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li role="presentation"><%= link_to t('.new-patient-pulmonary-appointment'), new_patient_pulmonary_appointment_path(@patient) %></li>
    <li role="separator" class="divider"></li>
    <%= render 'shared/pulmonary_menu' %>
  </ul>
</li>