<li role="presentation" class="dropdown active">
  <a class="dropdown-toggle btn btn-default" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    <%= t('.tiss-evaluation-options') %> <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li role="presentation"><%= link_to t('.new-tiss-evaluation'), new_patient_tiss_evaluation_path(@patient) %></li>
    <li role="presentation"><%= link_to t('.tiss-index'), tiss_evaluations_path() %></li>
  </ul>
</li>