<li role="presentation">
  <li role="presentation"><%= link_to t('.new-tiss-evaluation'), new_patient_tiss_evaluation_path(@patient) %></li>
  <li role="presentation"><%= link_to t('tiss-index'), tiss_evaluations_path() %></li>
</li>