<% provide(:title, t('.patients-index')) %>

<h1><%= t('.patients-index') %></h1>

<div class="panel panel-default">
  <div class="panel-body">
    <%= render 'search-patients' %>
    <ul class="patients">
      <%= render @patients %>
    </ul>
    <%= will_paginate %>
  </div>
</div>
