<% provide(:title, t('.roles')) %>

<div class="col-md-9 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= t('.roles') %></h4>
    </div>
    <div class="panel-body">
      <% @users.each do |user| %>
        <ul class="list-inline">
          <li><%= link_to user.full_name, role_path(user) %></li>
          <% user.roles.each do |role| %>
            <li><%= role.name %></li>
          <% end %>
        <ul>
      <% end %>
    </div>
  </div>
</div>