@import "bootstrap-sprockets";
@import "bootstrap";

/* Variables */
$logo-color: #eaeaea;

body {
  padding-top: 50px;
}

/* Header */

#logo {
  color: $logo-color;
  font-size: 1.6em;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

#logo-image {
  width: 35px;
  height: 35px;
  margin-top: -7px;
}

/* Footer */

footer {
  border-top: 1px solid #eaeaea;
  small {
    float: left;
  }
}