@import "bootstrap-sprockets";
@import "bootstrap";

/* Variables, mixims */
$logo-color: gray;
$lightest-gray: #eee;
$light-gray: lightgray;
$dark-gray: darkgrey;
$darker-gray: dimgray;
$darkest-gray: #444;
$error-color: red;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
  padding-top: 55px;
  background-color: $darker-gray;
}

/* aside of show patient */

.affix {
  top: 55px;
  z-index: 9999 !important;
}

/* Header */

#logo {
  color: $logo-color;
  font-size: 1.9em;
  font-weight: bold;
  &:hover {
    color: $light-gray;
    text-decoration: none;
  }
}

#logo-image {
  width: 35px;
  height: 35px;
  margin-top: -7px;
}

/* patient index */

.patients {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $dark-gray;
  }
}

/* forms */

form {
  margin-bottom: 1em;
}

input, textarea, select, .uneditable-input {
  border: 1px solid $dark-gray;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.radio-inline {
  position: relative;
}

.radio-inline-label {
  position: relative;
  left: 10px;
}

.underline {
  border-bottom: 1px solid $lightest-gray;
}

#error_explanation {
  color: $error-color;
  ul {
    color: $error-color;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info;
}

/* D3 */

#bar-chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

/* Footer */

footer {
  border-top: 1px solid $darkest-gray;
  small {
    float: right;
  }
}

/* Debug div */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}