@import "bootstrap-sprockets";
@import "bootstrap";

/* Variables, mixims */
$logo-color: gray;
$light-gray: lightgray;
$darkgray: darkgrey;
$darkergray: dimgray;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
  padding-top: 55px;
  background-color: $darkgray;
}

/* secundary navbar with affix */
.affix {
  top: 55px;
  width: 100%;
  z-index: 9999 !important;
}

.affix + .container-fluid {
  padding-top: 55px;
}

/* Header */

#logo {
  color: $logo-color;
  font-size: 1.9em;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

#logo-image {
  width: 35px;
  height: 35px;
  margin-top: -7px;
}

/* Footer */

footer {
  border-top: 1px solid $darkergray;
  small {
    float: right;
  }
}

/* Debug div */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}