<h1><%= t(".welcome") %> <%= @email %>!</h1>

<p><%= t(".you-can-confirm-your-account-email-through-the-link-below") %>:</p>

<p><%= link_to t(".confirm-my-account"), confirmation_url(@resource, confirmation_token: @token) %></p>
